.rb-attachments-control{
    .gallery-images{
        display: flex;

        .gallery-image{
            min-width: 0;
            max-width: 100%;
            height: 116px;
            object-fit: cover;
            width: 100%;
        }
    }

}
